
    .title{
        font-size: 0.54rem;
        margin-top: 1.5rem;
        color: #3dbafd;
    }
    .tip{
        margin-top: 0.4rem;
        font-size: 0.24rem;
        color: #3dbafd;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
